@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

.oms-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--gray200);
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.3);

    .oms-header-home {
        font-size: xx-large;
        font-family: "Pacifico";
        color: var(--dark);
        text-decoration: none;
    }
}