.login-form {
    width: 400px;
    max-width: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    padding: 4rem;
    border-radius: 4px;

    @media screen and (max-width: 900px) {
        width: calc(100% - 4rem);
        padding: 2rem;
    }

    .error {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: calc(100% - 2rem) !important; // override from input with set
        margin: 1rem auto;
        border: 1px solid coral;
        border-radius: 4px;
        color: coral;
        background-color: rgba(255, 127, 80, 0.15);
        font-size: 1.2rem;
        text-align: left;
    }

    .login-form-title {
        font-size: xx-large;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

    .login-form-fields>*,
    .login-form-fields {
        width: 100%;
        color: #fff;
    }

    .login-form-submit {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        text-align: center;
        border: unset;
        border-radius: 4px;
        text-transform: uppercase;
        color: var(--dark);
        background-color: var(--light);
        cursor: pointer;
        transition: all .3s ease;
        font-weight: 600;

        &:hover {
            color: var(--gray100);
            background-color: var(--gray700);
            box-shadow: 0 5px 6px -4px rgba(0, 0, 0, 0.15);
        }
    }
}